@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer theme, base, components, utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: 150, 219, 220;
  --background-start-rgb: 150, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(15, 109, 199);
}

.main-page {
  background-image: url("../../public/bg.jpg");
  background-size: cover;
}
.start-page {
  background: linear-gradient(rgb(6, 51, 94), rgb(15, 109, 199));
  background: linear-gradient(
    #58151a,
    #bc2909,
    #ba6d09,
    #71a8ee,
    #3072eb,
    rgb(15, 109, 199)
  );
}
.navbar {
  background-color: transparent;
}

.logo {
  width: 25%;
}

.grid-container {
  background-color: blue;
  display: grid;
  justify-content: space-evenly;
}

.image-settings {
  margin: 0 auto;
}

.big-title{
  font-size: 2.5rem;
  line-height: normal;
}

.card-container{
  margin-top: 5%;
}

@media (min-width: 640px) {
  .big-title span.divisore::after {
    content: '';
    display: block;
  }  
}

@media (max-width: 800px) {
  .big-title {
    font-size: 1.75rem;
  }
}

.text-small-desc{
  font-size: 1.2rem;
  width: 65%;
  margin: 2% auto 0 auto;
  text-align: justify;
}

.card-body, .card-title{
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 640px) {
  .card-container{
    margin-top: 20%;
  }

  .text-small-desc {
    font-size: 0.9rem;
    width: 90%;
    margin: 1% auto 0 auto;
  }

  .card-body, .card-title{
    font-size: 1rem;
    text-align: center;
  }

  .big-title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  .title-settings {
    font-size: 1.25rem;
  }
  .bg-wave {
    height: 300px; /* Enlarge to cover better on mobile */
    bottom: 0;
  }
  .hero-content {
    padding-bottom: 2rem; /* Reduce padding */
  }
}


.little-menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0; /* Space around the icon */
}

.btn-prova {
  border-radius: 0.5rem;
  border: none;
  width: 90%;
  margin: 1% 5%;
  color: white;
}

.bg-wave {
  background-image: url("../../public/wave.svg");
  background-repeat: repeat-x;
  background-position: bottom;
}

/* Add styles to your component's CSS file */
.github-icon {
  color: whitesmoke; /* Change the color as needed */
  font-size: 26px; /* Change the size as needed */
  /* Add other styles as needed */
}
.fixed-square {
  display: flex;
  flex-direction: column; /* Not strictly necessary here but useful with more elements */
  justify-content: center;
  align-items: center; /* h-align */
  position: fixed;
  bottom: 40vh;
  right: 2vh;
  height: auto;
  padding: 0.5%;
  font-size: 0.75rem;
  color: #b8d5e9;
  text-align: left; 
}

.fixed-square p {
  margin-top: 5%;
  width: 100%;
}

.bg-gradient-rgba {
  background-image: linear-gradient(
    to bottom,
    rgb(35, 35, 199),
    rgba(35, 35, 199, 0.5),
    rgba(52, 122, 217, 0.01)
  );
}

.bg-gradient-card {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.75)
  );
}

.bg-gradient-sky {
  background-image: radial-gradient(
    at bottom,
    rgb(69, 174, 235),
    rgb(35, 35, 199)
  );
}

.triangle-icon::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  border-left: 14px solid currentColor; /* You can adjust the size */
  display: inline-block;
  margin-right: 0.5em; /* Adjust the spacing between the icon and text */
}

.square-icon::before {
  content: "";
  width: 14px; /* Adjust the size of the square */
  height: 14px; /* Adjust the size of the square */
  display: inline-block;
  margin-right: 8px; /* Adjust the spacing between the icon and text */
  background-color: currentColor; /* Icon color */
}
